version: '3.8'

services:
  web:
    container_name: starsoft-frontend
    build:
      context: .
      dockerfile: Dockerfile

    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M